@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,ol,li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  font-family: "GmarketSansMedium";
}
/* hEADER */
header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.775);
  border-bottom: 1px solid rgb(131, 131, 131);
  box-shadow: 0 0 10px #bbb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 5vw;
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
  position: fixed;
}
header #gnb{
  display: flex;
}
header #gnb li{
  margin-right: 50px;
  font-weight: bold;
}
header #gnb li:last-child{
  margin-right: 0;
}
header #gnb li a{
  color: #000;
}
header #gnb li:hover a{
  color: rgb(0, 68, 109);
}
/* 메뉴아이콘 */
input[id="menuicon"]{
  display: none;
}
input[id="menuicon"] + label{
  display: block;
  width: 60px;
  height: 40px;
  position: relative;
  cursor: pointer;
  z-index: 2;
  display: none;
}
input[id="menuicon"] + label span{
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background-color: #000;
  transition: all .35s;
}
input[id="menuicon"] + label span:nth-child(1){
  top: 0;
}
input[id="menuicon"] + label span:nth-child(2){
  top: 50%;
  transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3){
  bottom: 0;
}
input[id="menuicon"]:checked + label span:nth-child(1){
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2){
  opacity: 0;
}
input[id="menuicon"]:checked + label span:nth-child(3){
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
div.sidebar{
  width: 300px;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 1;
  transition: all .35s;
}
input#menuicon:checked +label +div{
  right: 0;
}
div.sidebar .sidebar_gnb{
  position: absolute;
  top: 200px;
  left: 10px;
}
div.sidebar .sidebar_gnb>li{
  text-align: end;
  font-size: 30px;
  margin: 30px 0px;
  font-weight: bold;
}
div.sidebar .sidebar_gnb>li a{
  color: rgb(9, 134, 183);
}

/* SECTION INTRO */
#intro{
  width: 100%;
  background-color: rgb(20, 20, 20);
}
#intro .inner{
  width: 80%;
  height: 100vh;
  margin: auto;
  position: relative;
}
#intro .cirle .introIcon{
  width: 160px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  right: 20%;
  animation: rotate linear 15s alternate infinite;
}
#intro .cirle .introIcon img{
  width: 20rem;
  position: relative;
  top: 3px;
  left: -1px;
}
@keyframes rotate{
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(180deg);
  }
}
#intro .introText{
  width: 100%;
}
#intro .introText h1{
  color: #000;
  text-shadow: 0px 0px 12px rgba(255, 255, 255, .99); ;
  font-size: 5rem;
  text-align: start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scroll {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.scroll p{
  width: 100%;
  text-align:center;
  color: #fff;
}
.scroll p:hover{
  text-shadow: 0px 0px 10px #fff;
}
.scroll .mouse{
  width: 50px;
  height: 80px;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 40px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -25px;
}
.scroll .mouse::after{
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(215, 215, 215);
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -4px;
  animation: scroll 2s linear infinite;
}
@keyframes scroll{
  from{
    top: 50px;
  }
  to{
    top: 5px;
  }
}
/*  ABOUT  */
#about{ 
  width: 100%;
  background-color: rgb(20, 20, 20);
}
#about .inner{
  width: 80%;
  height: 800px;
  margin: auto;
  padding-top: 120px;
  position:relative;
}
#about h1{
  padding-left: 20px;
  font-size: 4em;
  color: #fff;
}
#about .about_me{
  width: 50%;
  margin-top: 50px;
  padding: 50px 0;
  float: left;
  position: relative;
}
#about .about_me img{
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  display: block;
  position: relative;
  z-index: 2;
}
#about .about_me .waveBox{
  position: absolute;
  border-radius: 183px 169px 258px 189px;
}
#about .about_me .wave-one {
  width: 280px;
  height: 250px;
  left: 30%;
  top: 10%;
  animation: move 3s infinite linear;
  background-color: rgba(255, 255, 255, 0.311);
}
#about .about_me .wave-two {
  width: 250px;
  height: 250px;
  left: 28%;
  top: 11%;
  animation: move 3s infinite linear;
  background-color: rgba(144, 174, 240, 0.339);
  animation-delay: .2s;
}
#about .about_me .wave-three{
  width: 240px;
  height: 240px;
  left: 32%;
  top: 8%;
  animation: move 3s infinite linear;
  background-color: rgba(253, 181, 147, 0.24);
  animation-delay: .3s;
}
@keyframes move{
  100% {
    transform: rotate(360deg);
}
}
#about .about_me .about_title{
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  padding-top: 50px;
  text-align: center;
}
#about .about_me .about_title span{
  font-size: 23px;
  font-weight: bold;
}
#about .about_me .about_sub{
  font-size: 1rem;
  color: #fff;
  text-align: center;
}
#about .about_right{
  width: 50%;
  margin-top: 50px;
  color: #fff;
  float: right;
}
#about .about_right .tit{
  font-size: 23px;
  font-weight: bold;
}
#about .about_right ul{
  margin-bottom: 50px;
}
#about .about_right li{
  font-size: 18px;
  margin-bottom: 10px;
}
#about .about_right .name li span{
  font-weight: normal;
  font-size: 15px;
}
#about .about_right .skills li{
  position: relative;
}
#about .about_right .skills li:not(:first-child)::before{
  content: "";
  display: block;
  width: 200px;
  height: 20px;
  background-color: #bbb;
  margin-bottom: 15px;
  position: absolute;
  left: 160px;
  top: 0;
}
#about .about_right .skills li:not(:first-child):after{
  content: "";
  height: 20px;
  background-color: #244fbb;
  margin-bottom: 15px;
  position: absolute;
  left: 160px;
  top: 0;
}
#about .about_right .skills li:nth-child(2):after{
  width: 150px;
}
#about .about_right .skills li:nth-child(3):after{
  width: 145px;
}
#about .about_right .skills li:nth-child(4):after{
  width: 125px;
}
#about .about_right .skills li:nth-child(5):after{
  width: 135px;
}

/* SECTION project BTN */
#project .pro_box1 .btn,
#project .pro_box2 .btn,
#project .pro_box3 .btn,
#project .pro_box4 .btn{
  width: 150px;
  height: 60px;
  border: 1px solid #000;
  text-align: center;
  line-height: 60px;
  position: absolute;
  bottom: -80px;
  left: 0px;
}
#project .pro_box1 .btn:hover,
#project .pro_box2 .btn:hover,
#project .pro_box3 .btn:hover,
#project .pro_box4 .btn:hover{
  background-color: #333;
}
#project .pro_box2 .btn a{
  display: block;
}
#project .pro_box1 .btn:hover a,
#project .pro_box2 .btn:hover a,
#project .pro_box3 .btn:hover a,
#project .pro_box4 .btn:hover a{
  color: #fff;
  display: block;
}
/* SECTION project */
#project{
  width: 100%;
}
#project .inner{
  width: 80%;
  margin: 0 auto;
  padding: 100px 0px;
}
#project .inner h1{
  font-size: 4rem;
}
#project .All_pro{
  width: 100%;
  height: 500px;
  margin-top: 150px;
  display: flex;
  position: relative;
}
#project .All_pro .title_txt{
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  top: -50px;
  left: 0px;
}
#project .pro_box2{
  margin-top: 200px;
}
#project .All_pro .left_pro{
  width: 50%;
  height: 400px;
  padding-top: 30px;
  float: left;
  position: relative;
}
#project .All_pro .left_pro .pro_bg{
  width: 90%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
}
#project .All_pro .left_pro .pro_bg img{
  width: 100%;
  height: 100%;
}
#project .All_pro .left_pro ul{
  position: absolute;
  top: 10px;
  left: 45%;
  transform: translateX(-50%);
  width: 90%;
  height: 90%;
}
#project .All_pro .left_pro ul li{
  width: 96%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
  position: absolute;
  top:0%;
  left:2%;
  display: none;
  text-indent: -9999px;
}
#project .pro_box1 .left_pro ul li:nth-child(1){
  background-image: url(../images/samsugcard_main01.PNG);
  display: block;
}
#project .pro_box1 .left_pro ul li:nth-child(2){
  background-image: url(../images/samsugcard_main02.PNG);
}
#project .pro_box1 .left_pro ul li:nth-child(3){
  background-image: url(../images/samsugcard_main03.PNG);
}
#project .pro_box1 .left_pro ul li:nth-child(4){
  background-image: url(../images/samsugcard_main04.PNG);
}
#project .pro_box2 .left_pro ul li:nth-child(1){
  background-image: url(../images/youhan_main01.PNG);
  display: block;
}
#project .pro_box2 .left_pro ul li:nth-child(2){
  background-image: url(../images/youhan_main02.PNG);
}
#project .pro_box2 .left_pro ul li:nth-child(3){
  background-image: url(../images/youhan_main03.PNG);
}
#project .pro_box2 .left_pro ul li:nth-child(4){
  background-image: url(../images/youhan_main04.PNG);
}
#project .pro_box3 .left_pro ul li:nth-child(1){
  background-image: url(../images/uro_main01.JPG);
  display: block;
}
#project .pro_box3 .left_pro ul li:nth-child(2){
  background-image: url(../images/uro_main02.JPG);
}
#project .pro_box3 .left_pro ul li:nth-child(3){
  background-image: url(../images/uro_main03.JPG);
}
#project .pro_box3 .left_pro ul li:nth-child(4){
  background-image: url(../images/uro_main04.JPG);
}
#project .pro_box4 .left_pro ul li:nth-child(1){
  background-image: url(../images/IKEA_slide1.JPG);
  display: block;
}
#project .pro_box4 .left_pro ul li:nth-child(2){
  background-image: url(../images/IKEA_slide2.JPG);
}

#project .All_pro .pro_right{
  width: 50%;
  height: 100%;
  padding-bottom: 100px;
  float: right;
}
#project .All_pro  .pro_right .textBox{
  position: relative;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#project .All_pro   .pro_right .textBox p.title{
  font-weight: bold;
  font-size: 26px;
}
#project .All_pro   .pro_right .textBox p{
  color: #333;
  font-size: 18px;
}
#project .All_pro   .pro_right .textBox .onDays p:nth-child(3){
  font-size: 15px;
  color: #555;
}
#project .All_pro   .pro_right .textBox .onColor{ 
  margin: 50px 0;
}
#project .All_pro   .pro_right .textBox .onColor .colorBox{
  display: flex;
}
#project .All_pro   .pro_right .textBox .onColor .colorBox > li{
  width: 100px;
  height: 100px;
  margin-right: 20px;
  position: relative;
}
#project .pro_box1  .pro_right .textBox .onColor .colorBox >li:nth-child(1){
  background-color: #0d63c6;
}
#project .pro_box1  .pro_right .textBox .onColor .colorBox  >li:nth-child(2){
  background-color: #00aeef;
}
#project .pro_box1  .pro_right .textBox .onColor .colorBox  >li:nth-child(3){
  background-color: #d7d7d7;
}
#project .pro_box1  .pro_right .textBox .onColor .colorBox  >li:nth-child(4){
  background-color: #2e2f2d;
}
#project .pro_box2  .pro_right .textBox .onColor .colorBox >li:nth-child(1){
  background-color: #007de7;
}
#project .pro_box2  .pro_right .textBox .onColor .colorBox  >li:nth-child(2){
  background-color: #e1f5d0;
}
#project .pro_box2  .pro_right .textBox .onColor .colorBox  >li:nth-child(3){
  background-color: #d7d7d7;
}
#project .pro_box2  .pro_right .textBox .onColor .colorBox  >li:nth-child(4){
  background-color: #2e2f2d;
}
#project .pro_box3  .pro_right .textBox .onColor .colorBox >li:nth-child(1){
  background-color: #e8340c;
}
#project .pro_box3  .pro_right .textBox .onColor .colorBox  >li:nth-child(2){
  background-color: #2a4198;
}
#project .pro_box3  .pro_right .textBox .onColor .colorBox  >li:nth-child(3){
  background-color: #00914e;
}
#project .pro_box3  .pro_right .textBox .onColor .colorBox  >li:nth-child(4){
  background-color: #6f6f6f;
}
#project .pro_box4  .pro_right .textBox .onColor .colorBox >li:nth-child(1){
  background-color: #fbd915;
}
#project .pro_box4  .pro_right .textBox .onColor .colorBox  >li:nth-child(2){
  background-color: #db2612;
}
#project .pro_box4  .pro_right .textBox .onColor .colorBox  >li:nth-child(3){
  background-color: #ffffff;
  border: 1px solid #bbb;
}
#project .pro_box4  .pro_right .textBox .onColor .colorBox  >li:nth-child(4){
  background-color: #333;
}

#project .All_pro  .pro_right .textBox .onColor .colorBox > li >ul{
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

/* OTHERDESIGIN */
#otherDesign{
  width: 100%;
  background-color: rgb(0, 0, 0);
}
#otherDesign .inner{
  width: 80%;
  height: 100%;
  padding: 100px 0;
  margin: auto;
}
#otherDesign h1{
  color: #fff;
  font-size: 4rem;
}
#otherDesign .designBox{
  max-width: 1400px;
  width: 100%;
  margin: auto;
  padding-top: 100px;
}
#otherDesign .designBox ul{
  font-size: 0;
}
#otherDesign .designBox ul li{
  display: inline-block;
  vertical-align: top;
  width: 25%;
  position: relative;
  overflow: hidden;
}
#otherDesign .designBox ul li div.screen{
  width: 100%;  
  height: 100%;
}
#otherDesign .designBox ul li div.screen::after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  opacity: 0;
  transition: all .35s;
}
#otherDesign .designBox ul li:hover div.screen::after{
  opacity: 1;
}
#otherDesign .designBox ul li .screen .top{
  position: absolute;
  bottom: 150%;
  left: 30px;
  z-index: 2;
  color:#fff;
  font-size: 26px;
  font-weight: bold;
  transition: all .35s;
}
#otherDesign .designBox ul li .screen .bottom{
  position: absolute;
  bottom: -25%;
  left: 30px;
  z-index: 2;
  color:#fff;
  font-size: 16px;
  transition: all .35s;
}
#otherDesign .designBox ul li div img{
  width: 100%;
  max-height: 90%;
  transition: all .6s;
}
#otherDesign .designBox ul li div:hover img{
  transform: scale(1.2);
}
#otherDesign .designBox ul li:hover .top{
  bottom: 52%;
}
#otherDesign .designBox ul li:hover .bottom{
  bottom: 32%;
}
#otherDesign .designBox ul li:nth-child(3):hover .top{
  bottom: 72%;
}
#otherDesign .designBox ul li:nth-child(3):hover .bottom{
  bottom: 62%;
}
/* FOOTER */
footer{
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 40px;
}



/* 태블릿 버전*/
@media all and (min-width:769px) and (max-width:1024px){
  header{
    width: 100%;
  }
  header #gnb li{
    display: none;
  }
  input[id="menuicon"] + label{
    display: block;
  }

  /* INTRO */
  #intro .cirle .line{
    display: none;
  }
  #intro .cirle .introIcon{
    display: none;
  }
  /* SECTION */
  section{
    width: 100%;
    height: 100%;
    position: relative;
  }
  #about{
    width: 100%;
    height: 1250px;
  }
  #about .inner{
    width: 100%;
    /* padding-top: 0px; */
  }
  #about .about_me{
    width: 100%;
    top:0;
    left: 50%;
    padding-top: 0px;
    margin-top: 0px;
    transform: translateX(-50%);
  }
  #about .about_me .waveBox{
    display: none;
  }
  #about .about_me .about_title{
    margin-bottom: 20px;
  }
  #about .about_me .about_sub{
    width: 100%;
    padding-left: 20px;
  }
  #about .about_me .about_sub br{
    display: none;
  }
  #about .about_right{
    position: absolute;
    width: 100%;
    clear:both;
    position: relative;
  }
  #about .about_right ul{
    text-align: center;
  }
  #about .about_right ul:nth-child(3){
    text-align: start;
    margin-left: 35%;
  }
  #about .about_right .skills_line,
  #about .about_right .skills_level{
    bottom: 0;
    left: 55%;
  }
  /* PROJECT */
  #project{
    width: 100%;
    height: 5300px;
  }
  #project .inner{
    width: 100%;
    height: 3000px;
  }
  #project .All_pro{
    width: 100%;
    height: 42%;
    margin-top: 100px;
    padding: 50px 10px 0;
    flex-direction: column;
    position: relative;
  }
  #project .All_pro .left_pro {
    width: 100%; 
  }
  #project .All_pro .left_pro .pro_bg{
    width: 90%;
    height: 500px;
    left: 50%;
    transform: translateX(-50%);
  }
  #project .All_pro .left_pro ul{
    width: 90%;
    height: 360px;
    left: 50%;
  }
  #project .All_pro .left_pro ul li{  
    width: 97%;
    height: 100%;
  }
  #project .All_pro .pro_right{
    width: 100%;
    position: relative;
    top: 10%;
  }
  #project .All_pro  .pro_right .textBox{
    text-align: center;
  }
  #project .All_pro  .pro_right .textBox >div{
    padding-bottom: 10px;
  }
  #project .All_pro  .pro_right .textBox .onColor .colorBox{
    width: 470px;
    margin: 20px auto;
  }
  #project .pro_box1 .btn,
  #project .pro_box2 .btn,
  #project .pro_box3 .btn,
  #project .pro_box4 .btn{
    
    left: 50%;
    transform: translateX(-50%);
  }
  /* OTHERDESIGIN */
    #otherDesign{
      width: 100%;
      position: relative;
    }
    #otherDesign .inner{
      width: 100%;
    }
    #otherDesign .designBox{
      width: 100%;
    }
    #otherDesign .designBox ul{
      width: 100%;
    }
    #otherDesign .designBox ul li{
      display: block;
      width: 50%;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 30px;
    }
}

/* 모바일버전 */
@media all and (max-width:767px){
  header{
    width: 100%;
  }
  header #gnb li{
    display: none;
  }
  input[id="menuicon"] + label{
    display: block;
  }
    /* INTRO */
    #intro .cirle .line{
      display: none;
    }
    #intro .cirle .introIcon{
      display: none;
    }
      /* SECTION */
  section{
    width: 100%;
    height: 100%;
    position: relative;
  }
  #about{
    width: 100%;
    height: 1250px;
  }
  #about .inner{
    width: 100%;
    /* padding-top: 0px; */
  }
  #about .about_me{
    width: 100%;
    top:0;
    left: 50%;
    padding-top: 0px;
    margin-top: 0px;
    transform: translateX(-50%);
  }
  #about .about_me .waveBox{
    display: none;
  }
  #about .about_me .about_title{
    margin-bottom: 20px;
  }
  #about .about_me .about_sub{
    width: 100%;
    padding-left: 20px;
  }
  #about .about_me .about_sub br{
    display: none;
  }
  #about .about_right{
    position: absolute;
    width: 100%;
    clear:both;
    position: relative;
  }
  #about .about_right ul{
    text-align: center;
  }
  #about .about_right ul:nth-child(3){
    text-align: start;
    padding: 0 20%;
  }
  #about .about_right .skills_line,
  #about .about_right .skills_level{
    bottom: 0;
    left: 45%;
  }
  /* PROJECT */
  #project{
    width: 100%;
    height: 4950px;
  }
  #project .inner{
    width: 100%;
    height: 100%;
  }
  #project .All_pro{
    width: 100%;
    height: 1060px;
    margin-top: 100px;
    padding: 50px 10px 0;
    flex-direction: column;
    position: relative;
  }
  #project .All_pro .left_pro {
    width: 100%; 
  }
  #project .All_pro .left_pro .pro_bg{
    width: 80%;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
  }
  #project .All_pro .left_pro ul{
    width: 80%;
    height: 285px;
    left: 50%;
  }
  #project .All_pro .left_pro ul li{  
    width: 97%;
    height: 100%;
  }
  #project .All_pro .pro_right{
    width: 100%;
    position: relative;
    top: 10%;
  }
  #project .All_pro  .pro_right .textBox{
    text-align: center;
  }
  #project .All_pro  .pro_right .textBox >div{
    padding-bottom: 10px;
  }
  #project .All_pro  .pro_right .textBox .onColor .colorBox{
    width: 470px;
    margin: 20px auto;
  }
  #project .pro_box1 .btn,
  #project .pro_box2 .btn,
  #project .pro_box3 .btn,
  #project .pro_box4 .btn{
    left: 50%;
    transform: translateX(-50%);
  }
  /* OTHERDESIGIN */
    #otherDesign{
      width: 100%;
      position: relative;
    }
    #otherDesign .inner{
      width: 100%;
    }
    #otherDesign .designBox{
      width: 100%;
    }
    #otherDesign .designBox ul{
      width: 100%;
    }
    #otherDesign .designBox ul li{
      display: block;
      width: 50%;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 30px;
    }
}