@charset "UTF-8";
/* font-family: 'Noto Sans KR', sans-serif; */

/* common */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{text-decoration: none; color: #000;}
ul,li {list-style: none;}
img{border: none; vertical-align: top;}

body{
  font-family: 'Noto Sans KR', sans-serif;
  overflow-x: hidden;
}
/* HEADER */
header{
  position: sticky; 
  top: 0;
  z-index: 10;
}
header .top{
  width: 100%; height: 80px;
  background-color: rgba(255, 255, 255, 0.374);
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.105);
  position: relative; z-index: 10;
}
header .top .inner{
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
header .top .menubar{
  font-size: 2rem;
  cursor: pointer;
  color: #333;
  position: relative;
}
header .top .menubar .menu{
  background-color: antiquewhite;
  position: absolute;
  top: 0;
}
header .top input#menuicon{
  display: none;
}
header .top input#menuicon + label{
  display: block;
  width: 30px;
  height: 25px;
  position: relative;
  cursor: pointer;
}
header .top input#menuicon + label span{
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background-color: #333;
  transition: all .35s;
  z-index: 2;
}
header .top input#menuicon + label span:nth-child(1){
  top: 0;
}
header .top input#menuicon + label span:nth-child(2){
  top: 50%;
  transform: translateY(-50%);
}
header .top input#menuicon + label span:nth-child(3){
  bottom: 0;
}
header .top input#menuicon:checked +label span:nth-child(1){
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
header .top input#menuicon:checked +label span:nth-child(2){
  opacity: 0;
}
header .top input#menuicon:checked +label span:nth-child(3){
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
header .top  div.sidebar{
  width: 400px;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: -400px;
  z-index: 1;
  transition: all .35s;
}
header .top input#menuicon:checked +label +div{
  left: 0;
}
header .top .logo a img{
  width: 8rem;
}
header .top .login{
  display: flex;
}
header .top .login li:not(:last-child){
  margin-right: 15px;
}
header .top .login li a{
  color: #333;
}
header .top .login li a i{
  font-size: 1em;
}
header .top .sidebar{
  width: 400px;
  height: 100%;
  overflow-y: scroll;
}
header .top .sidebar .accodian_nav{
  width: 100%;
  height: 100%;
  padding-top: 130px;
  margin-bottom: 0px;
}
header .top .sidebar .accodian_nav .nav_main,
header .top .sidebar .accodian_nav .answer,
header .top .sidebar .accodian_nav .nav_aux{
  width: 250px;
  margin: auto;
  padding: 10px;
  text-align: start;
}
header .top .sidebar .accodian_nav .nav_main{
  border-bottom: 1px solid rgb(69, 69, 69);
  cursor: pointer;
  position: relative;
}
header .top .sidebar .accodian_nav .nav_main.on h2{
  color: rgb(129, 129, 129);
}
header .top .sidebar .accodian_nav .nav_main:hover .down::after{
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../images/arow.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 40%;
  right: 0%;
}
header .top .sidebar .accodian_nav .answer{
  padding: 30px 10px;
  display: none;
}header .top .sidebar .accodian_nav .answer ul li{
  margin-bottom: 5px;
}
header .top .sidebar .accodian_nav .answer ul li a{
  color:rgb(129, 129, 129);
  display: block;
}
header .top .sidebar .accodian_nav .answer ul li:hover a{
  color: #333;;
  font-weight: bold;
}
header .top .sidebar .accodian_nav .nav_aux{
  margin: 20px auto;
}
header .top .sidebar .accodian_nav .nav_aux li:not(:last-child){
  margin-bottom: 5px;
}
header .top .sidebar .accodian_nav .nav_aux li a{
  color:rgb(129, 129, 129);
  display: block;
}
header .top .sidebar .accodian_nav .nav_aux li:hover a{
  color: #333;;
  font-weight: bold;
}
header .top .sidebar .accodian_nav .login{
  width: 230px;
  margin: 0 auto;
  display: flex;
  display: none;
}
header .top .sidebar .accodian_nav .login li:not(:last-child){
  margin-right: 30px;
}
header .top .sidebar .accodian_nav .label{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
header .top .sidebar .accodian_nav .label{
  width: 325px;
  margin: 30px auto;
}
header .top .sidebar .accodian_nav .label li{
  float: left;
  margin-right: 50px;
}
header .top .sidebar .accodian_nav .label li a{
  color:rgb(129, 129, 129);
  font-size: 1rem;
}
header .top .sidebar .accodian_nav .label li:hover a{
  color: #333;;
  font-weight: bold;
}

/* SECTION */
.slide_main{
  width: 100vw;
  height: 100vh;
  margin-top: -80px;
}
.slide_main .main{
  width: 100%;
  height: 100%;
}
.slide_main .main .visual{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
.slide_main .main .conten1{
  background-image: url("../images/slide_6.png");
  display: none;
}
.slide_main .main .conten1 a{
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -99999px;
}
.slide_main .main .conten2{
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  grid-template-rows: repeat(7,minmax(0,1fr));
  grid-gap: 1.25rem;
}
.slide_main .main .conten2 div{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.slide_main .main .conten2 .content_box1{
  grid-row: 1/8;
  grid-column:1/3;
  background-image: url("../images/slide_1.png");
}
.slide_main .main .conten2 .content_box2{
  grid-column: 3/4;
  grid-row: 1/4;
  background-image: url("../images/slide_2.png");
}
.slide_main .main .conten2 .content_box3{
  grid-column: 4/5;
  grid-row: 1/5;
  background-color: rgb(95, 160, 35);
  background-image: url("../images/slide_3.png");
}
.slide_main .main .conten2 .content_box4{
  grid-column: 3/4;
  grid-row: 4/8;
  background-image: url("../images/slide_5.png");
}
.slide_main .main .conten2 .content_box5{
  grid-column: 4/5;
  grid-row: 5/8;
  background-image: url("../images/slide_4.png");
}
.slide_main .main .conten2 div a{
  display: block;
  width: 100%;
  height: 100%;
}

/* 가격표 공통 */
.slide_main .main .conten2 .contentbox .product{
  background-color: #fff;
  display: inline-block;
  padding: 30px 5px ;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  opacity: 0;
}
.slide_main .main .conten2 .contentbox .product h3.pro_specia{
  font-size: 14px;
  color: #0077CC;
  margin-bottom: 4px;
}
.slide_main .main .conten2 .contentbox .product p.pro_name{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 7px;
}
.slide_main .main .conten2 .contentbox .product span.pro_price1{
  font-size: 13px;
}
.slide_main .main .conten2 .contentbox .product h2.price2 {
  margin-top: 10px;
}
.slide_main .main .conten2 .contentbox .product .price2>span{
  font-size: 13px;
  font-weight: normal;
}
.slide_main .main .conten2 .contentbox .plus_btn{
  position: absolute;
  z-index: 3;
}
.slide_main .main .conten2 .contentbox .plus_btn a{
  width: 10px;
  height: 10px;
  background-color: #fbd915;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.slide_main .main .conten2 .contentbox .plus_btn a::after{
  content: "";
  width: 2em;
  height: 2em;
  border: 3px solid #fbd915;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  transition: all .5s;
}
.slide_main .main .conten2 .contentbox:hover .plus_btn a::after{
  opacity: 1;
  animation: blink 1s linear infinite;
}
@keyframes blink{
  50%{
    opacity: 0;
  }
}

.slide_main .main .conten2 .content_box1 .product{
  top: 60%;
  left: 50%;
}
.slide_main .main .conten2 .content_box1 .plus_btn{
  top: 60%;
  left: 50%;
}
.slide_main .main .conten2 .content_box1 .plus_btn a::after{
  top: 50%;
  left: 50%;
}
.slide_main .main .conten2 .content_box2 .product{
  top: 30%;
  right: 30%;
}
.slide_main .main .conten2 .content_box2 .plus_btn{
  top: 30%;
  left: 70%;
}
.slide_main .main .conten2 .content_box2 .plus_btn a::after{
  top: 50%;
  left: 50%;
}
.slide_main .main .conten2 .content_box3 .box1 {
  position: absolute;
  top:50%;
  left: 15%;
  width: 100%;
}
.slide_main .main .conten2 .content_box3 .box1 .plus_btn{
  top: 0%;
  left: 30%;
}
.slide_main .main .conten2 .content_box3 .box1 .plus_btn a::after{
  top: 50%;
  left: 50%;
}
.slide_main .main .conten2 .content_box3 .box2 {
  position: absolute;
  top:20%;
  left: 10%;
  width: 100%;
}
.slide_main .main .conten2 .content_box3 .box2 .product{
  right: 32%;
}
.slide_main .main .conten2 .content_box3 .box2 .plus_btn{
  top: 0;
  left: 45%;
}
.slide_main .main .conten2 .content_box3 .box2 .plus_btn a::after{
  top: 50%;
  left: 50%;
}
.slide_main .main .conten2 .content_box4 .box1 {
  position: absolute;
  top:45%;
  left: 20%;
  width: 100%;
}
.slide_main .main .conten2 .content_box4 .box1 .product{
  left: 0;
  bottom: 0;
}
.slide_main .main .conten2 .content_box4 .box2 {
  position: absolute;
  top:30%;
  left:50%;
  width: 100%;
}
.slide_main .main .conten2 .content_box4 .box3 {
  position: absolute;
  bottom:45%;
  left: 37%;
  width: 100%;
}
.slide_main .main .conten2 .content_box4 .box3 .product{
  top: 0;
  left: -35%;
}
.slide_main .main .conten2 .content_box4 .box4 {
  position: absolute;
  top:60%;
  left: 80%;
  width: 100%;
}
.slide_main .main .conten2 .content_box4 .box4 .product{
  left: -22%;
}
.slide_main .main .conten2 .content_box4 .plus_btn a::after{
  top: 50%;
  left: 50%;
}
.slide_main .main .conten2 .content_box5 .product{
  top: 5%;
  left: 30%;
}
.slide_main .main .conten2 .content_box5 .plus_btn{
  top: 60%;
  left: 60%;
}
.slide_main .main .conten2 .content_box5 .plus_btn a::after{
  top: 50%;
  left: 50%;
}
/* 배너 슬라이드 */
.slide_main .main .indicator{
  width: 210px;
  height: 10px;
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.slide_main .main .indicator li{
  width: 100px;
  height: 12px;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
  background-color: rgb(237, 237, 237);
}
.slide_main .main .indicator li:last-child{
  margin-right: 0;
}
.slide_main .main .indicator li.on{
  background-color: #db2612;
  border: none;
}

/* ARTICLE */
.article{
  width: 100%;
  height: 100vh;
}

/* 태블릿 버전*/
@media all and (min-width:769px) and (max-width:1023px){
  .slide_main .main .conten1{
    background-position: center;
  }
}
/* 모바일 버전 */
@media all and (max-width:767px) {

  header .top .inner{
    justify-content:flex-start;
  }
  header .top .logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  header .top .login{
    display: none;
  }
  header .top .sidebar .accodian_nav .login{
    width: 230px;
    margin: 0 auto;
    display: block
  }
  header .top .sidebar .accodian_nav .login li{
    margin: 0;
    float: left;
  }
  header .top .sidebar .accodian_nav .login li a{
    color:rgb(129, 129, 129);
  }
  header .top .sidebar .accodian_nav .login li:hover a{
    color: rgb(40, 117, 185);
  }
  header .top .sidebar .accodian_nav .label{
    padding-bottom: 50px;
    padding-top: 30px;
  }

  .slide_main .main .visual{
    background-position: 50% 50%;  
    background-size: contain;  
  }
}




